@import './base.css';

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-hover);
  }
}
